:root {
    --vermelho: #ebec7d;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*para garantir que o limite que 
    tudo que está dentro da caixa, é a borda da caixa, os 
    elementos vão se espremer para caber dentro dela e 
    NÃO ULTRAPASSÁ-LA */
}


/*elementos base*/

body {
    background: var(--preta);
    font-family: 'Share Tech Mono', monospace;
    color: white;
}

header .container {
    display: flex;
    /*por padrão, joga tudo para linha (flex-direction: row;) */
    flex-direction: row;
    /*só para carater semantico */
    align-items: center;
    /*alinha verticalmente*/
    justify-content: space-between;
    /*alinha horizontalmente seguindo a direção do FLEX DIRECTION!!! + 
    space-between separa os elementos da caixa, 
    joga cada um prum lado - esquerda e direita!*/
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Share Tech Mono', monospace;
    font-size: 55px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: VAR(--vermelho);
}


/*filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)100%), url('../img/capa-dio.png');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*inverte o display padrão row*/
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Share Tech Mono', monospace;
}

.botao {
    background-color: rgba(0, 0, 0, .5);
    font-family: 'Share Tech Mono', monospace;
    border: none;
    color: VAR(--vermelho);
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 13px;
    cursor: pointer;
    transition: .3s ease all;
    margin-left: 20px;
}

.botao:hover {
    background-color: VAR(--vermelho);
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrossel-filmes {
    margin-top: 5px;
}

.carrossel-filmes .titulo-carrossel {
    margin-left: 25px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Share Tech Mono', monospace;
    color: var(--vermelho);
}

#ferramentas {
    margin-top: 20px;
}

.item img:hover {
    opacity: 0.2;
    transition: all 1s ease;
}